.divv{
    width: 200px;
    height: 200px;
    background-color: black;
    margin-top: 10px;
}

#one, #five{
    display: none;
    background-color: red;
    position: relative;
}

.divv{
    position: relative;
}